<footer class="container mx-auto bg-green-200">
  <hr class="border-t border-black" />
  <p class="float-left m-2">Caleb Schoepp &middot; 2020</p>
  <div class="overflow-hidden">
    <div class="float-right m-2">
      <a
        href="https://www.linkedin.com/in/calebschoepp/"
        title="LinkedIn"
        type="text/html"
        ><img src="/linkedin.svg" alt="LinkedIn"
      /></a>
    </div>
    <div class="float-right m-2">
      <a href="https://github.com/calebschoepp" title="Github" type="text/html"
        ><img src="/github.svg" alt="Github"
      /></a>
    </div>
    <!-- TODO fix email link -->
    <div class="float-right m-2">
      <a href="/" title="Email" type="text/html"
        ><img src="/mail.svg" alt="Email"
      /></a>
    </div>
  </div>
</footer>

<!-- feather for icons -->
