<footer class="max-w-screen-md mx-auto">
  <div
    class="inline-block footer-fit flex flex-row justify-center mx-auto border-t border-gray-800"
  >
    <p class="m-2 text-lg">Caleb Schoepp &middot; 2020</p>
    <div class="m-2">
      <a
        href="https://www.linkedin.com/in/calebschoepp/"
        title="LinkedIn"
        type="text/html"
        ><img src="/linkedin.svg" alt="LinkedIn"
      /></a>
    </div>
    <div class="m-2">
      <a href="https://github.com/calebschoepp" title="Github" type="text/html"
        ><img src="/github.svg" alt="Github"
      /></a>
    </div>
    <!-- TODO fix email link -->
    <div class="m-2">
      <a
        href="mailto:caleb.schoepp@gmail.com?subject=Hi Caleb nice to meet you"
        title="Email"
        type="text/html"
        ><img src="/mail.svg" alt="Email"
      /></a>
    </div>
  </div>
</footer>

<!-- feather for icons -->
