<header class="bg-red-200 container mx-auto text-center">
  <h1><a class="text-4xl sm:text-6xl" href="/">Caleb Schoepp</a></h1>
  <!-- <h2 class="text-xl">engineer &middot; hacker &middot; go-getter</h2> -->
  <nav>
    <!-- <hr class="border-t border-black" /> -->
    <div class="inline-block border-t border-b border-black p-2 text-lg">
      <a href="/" title="Home - {{ .Site.Title }}" type="text/html">HOME</a>
      <span class="mr-2 ml-2">&middot;</span>
      <a href="/about" title="About - {{ .Site.Title }}" type="text/html"
        >ABOUT</a
      >
      <span class="mr-2 ml-2">&middot;</span>
      <a href="/projects" title="Projects - {{ .Site.Title }}" type="text/html"
        >PROJECTS</a
      >
      <span class="hidden sm:inline mr-2 ml-2">&middot;</span>
      <br class="sm:hidden" />
      <a
        class="inline-block"
        href="/blog"
        title="Blog - {{ .Site.Title }}"
        type="text/html"
        >BLOG</a
      >
      <span class="mr-2 ml-2 inline-block">&middot;</span>
      <a
        class="inline-block"
        href="/resume.pdf"
        title="Resume - {{ .Site.Title }}"
        type="text/html"
        >RESUME</a
      >
    </div>
  </nav>
  <img
    src="/caleb-circle.png"
    alt="Picture of Caleb"
    class="mx-auto w-56 md:w-1/3 lg:w-1/4 p-4"
  />
</header>
