<header>
  <h1>Caleb Schoepp</h1>
  <h2>engineer &middot; hacker &middot; go-getter</h2>
  <nav>
    <hr />
    <ul>
      <li>
        <a href="/" title="{{ .Site.Title }} - Home" type="text/html">HOME</a>
      </li>
      <li>
        <a href="/" title="{{ .Site.Title }} - About" type="text/html"
          >&middot; ABOUT</a
        >
      </li>
      <li>
        <a href="/" title="{{ .Site.Title }} - Github" type="text/html"
          >&middot; GITHUB</a
        >
      </li>
      <li>
        <a href="/" title="{{ .Site.Title }} - Email" type="text/html"
          >&middot; EMAIL</a
        >
      </li>
    </ul>
    <hr />
  </nav>
  <img
    src="/caleb-circle.png"
    height="300"
    width="300"
    alt="Picture of Caleb"
  />
</header>
