{{ define "main" }}

<div class="text-4xl">Latest</div>
{{ range first 3 .Pages }} {{ partial "list_item" . }} {{ end }}

<summary class="mb-4 leading-snug">
  <h2 class="text-lg">
    <a class="hover:underline" href="/archive"
      >Or find all of my posts in the <b>/archive</b></a
    >
  </h2>
</summary>

<div class="mt-10 text-4xl">Favorites</div>
{{ range .Pages }} {{ if in .Params.categories "favorite" }} {{ partial
"list_item" . }} {{ end }} {{ end }}

<div class="mt-10 text-4xl">Programming</div>
{{ range .Pages }} {{ if in .Params.categories "programming" }} {{ partial
"list_item" . }} {{ end }} {{ end }}

<div class="mt-10 text-4xl">Reflection</div>
{{ range .Pages }} {{ if in .Params.categories "reflection" }} {{ partial
"list_item" . }} {{ end }} {{ end }}

<div class="mt-10 text-4xl">Productivity</div>
{{ range .Pages }} {{ if in .Params.categories "productivity" }} {{ partial
"list_item" . }} {{ end }} {{ end }}

<div class="mt-10 text-4xl">Startups</div>
{{ range .Pages }} {{ if in .Params.categories "startups" }} {{ partial
"list_item" . }} {{ end }} {{ end }}

<div class="mt-10 text-4xl">Personal</div>
{{ range .Pages }} {{ if in .Params.categories "personal" }} {{ partial
"list_item" . }} {{ end }} {{ end }}

<div class="mt-10 text-4xl">Tutorials</div>
{{ range .Pages }} {{ if in .Params.categories "tutorials" }} {{ partial
"list_item" . }} {{ end }} {{ end }} {{ end }}
